.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #320064;
  width: 100%;
  min-height: 100px;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1100;
}
@media screen and (min-width: 200px) and (max-width: 960px) {
  .headerContainer {
    flex-direction: column;
  }
}